name: Typecheck

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  typecheck:
    name: Typecheck code with ty
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.13"
          activate-environment: true
          enable-cache: true

      - name: Install project
        run: uv sync --frozen --all-extras

      - name: Typecheck code with ty
        run: uv run --frozen ty check
